
<div class="testimonio">
    {{#each testimonios}}
        <div class="testimonio-item">
            <p class="mensaje">{{this.mensaje}}</p>
            <h3 class="autor">{{this.autor}}</h3>
            <p class="fecha">{{this.fecha}}</p>
        </div>
    {{/each}}
</div>